<h1 class="animate__animated animate__slideInLeft">Welcome
  {{firstName}}
  {{lastName}}</h1>
<div class="d-flex justify-content-center mt-4">
  <a
    href="/owner"
    class="btn main-button btn-lg animate__animated animate__fadeIn animate__delay-1s"
  >
    <i class="fas fa-clipboard-check"></i>
    My Wish List
  </a>
</div>

<div class="row mt-4 animate__animated animate__fadeIn animate__delay-2s">
  <div class="col-12">
    <div class="d-flex justify-content-center mb-3">
      <h2>My Events</h2>
    </div>
    {{#each events as |event|}}
      <div class="card card-event mb-2">
        <div class="card-body">
          <div class="d-flex justify-content-start">
            <h3 class="title">{{event.name}}</h3>
          </div>
          <div class="d-flex justify-content-start">
            <span class="party-date">
              <i class="fas fa-gifts"></i>
              {{daysLeft event.party_date}}
            </span>
          </div>
          <hr />
          <p class="description">{{event.description}}</p>
          <div class="d-flex justify-content-end">
            <div class="event-button">
              <a href="event/{{event.id}}" class="btn event-button">
                View
              </a>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>